<section id="average-age">
  <p>Average age: <%= @astronauts.average_age %></p>
</section>

<% @astronauts.each do |astronaut| %>
  <section class='astronaut-info' id='astronaut-<%= astronaut.id %>'>
    <ul>
      <li>Name: <%= astronaut.name %></li>
      <li>Age: <%= astronaut.age %></li>
      <li>Job: <%= astronaut.job %></li>
      <li>Total Time in Space: <%= astronaut.total_time_in_space %> days</li>
    </ul>
    <section class="missions" id='astronaut-<%= astronaut.id %>-missions'>
      <h1>Missions</h1>
      <ul>
        <% astronaut.missions.sort_alphabetical.each do |mission| %>
        <li><%= mission.title %>, </li>
        <% end %>
      </ul>
    </section>
  </section>
<% end %>
